<section class="content content--about">
            <img class="project-image" id="headshot" src='{{imageURL}}' alt='{{imageTitle}}'>
      <div class='about--card'>
            {{{blurb}}}
      </div>
</section>