<section class='content content--cv'>
   <div class='cv--card card--education'>
      <h1>Education</h1>
   </div>
    <div class='cv--card card--experience'>
      <h1>Experience</h1>
   </div>
    <div class='cv--card card--technical-skills'>
      <h1>Technical skills</h1>
   </div>
</section>