* {
   box-sizing: border-box;
   font-family: Helvetica, "Libre Franklin", sans-serif;
}

html { overflow-y: scroll;}

body { 
   margin:0;
   background: linear-gradient(125deg, #2E2E2E, #242424);
}

/* Navigation */

.navTopBar{
   display: none;
}

.navSidebar {
   position: fixed;
   left: 0;
   top: 0;
   width: 360px;
   height: 100%;
   display: flex;
   flex-flow: column nowrap;
   align-items: flex-start;
   font-size: 28px;
   justify-content: space-around;
   box-shadow: 9.91px 9.91px 15px #222222, -9.91px -9.91px 15px #303030;
   background: linear-gradient(125deg, #2E2E2E, #242424);
   border-top-right-radius: 16px;
   border-bottom-right-radius: 16px;
}

.navSidebar .connectMenu,
.navSidebar .navMenu,
.navSidebar .homeLink {
   margin: 1em;
}

.navSidebar .connectMenu,
.navSidebar .navMenu {
   display: flex;
   flex-flow: row wrap;
}

nav a,
#email {
   text-decoration: none;
   color: #dcedff;
   transition: 0.3s ease;
   width: 100%;
   margin: 0.5em 0;
}

.navSidebar .connectMenu{
   order: 2;
   text-transform: none;
}

a.activeLink{
   color: #203d5b;

}

nav a:hover{
   color: #56876d;
}


.homeLink {
   font-size: 32px;
}

#cvNav{
   margin: 0 0.5em;
}

#cvNav .cvNavButton {
margin: 0.25em 0;
}

/* Content */

.content{
   margin-left: 370px;
   padding:0;
   width: 100%-370px;
}

.masonry-grid--project{
   width: 100%;
   display: block;
   margin: .5em 15%;
}

.masonry-grid:after
{
   content: '';
   display: block;
   clear: both;
}

.grid-sizer--project{
   width: 1%;
}

.grid-item--project--tiny{
   width: 25%;
}
.grid-item--project--small{
   width: 33.33333%;
}

.grid-item--project--large{
   width: 50%;
}

.grid-item--project
{   float: left;
}

.grid-item--project .project-image--masonry
{
   display: block;
   width: 100%;
}

/* Gallery */
.gallery{
   display:flex;
   flex-flow: row wrap;
   width: 100%;
}

.featured-image {
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   object-fit: cover;
   border-radius: 16px;
}

.grid-item{
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   margin: 8px;
   width: 48.5%;
   border-radius: 16px;
}

.grid-item a{
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   color: #dcedff;
   text-decoration: none;
   font-size: 28px;
   width: 100%;
   height: 100%;
   background: rgba(0,0,0,0.5);
   border-radius: 16px;
   transition: .5s ease;
   opacity: 0;
}

.grid-item:hover a { opacity:1; }

.content--project {
display: flex;
flex-flow: row wrap;
justify-content: center;
margin-bottom: 75px;
}

.date-created{
   font-weight: bold;   
}

.project-image{
   width:100%;
   margin: 0.5em 15%;
}

.project-title,
.date-created,
.content--project h1,
.content--project p,
.content--project ul
{
   width: 100%;
   color: #dcedff;
   margin: .5em 15%;
}

.project-title{
   font-size: 48px;
   margin-top: 1em;
   margin-bottom: 1em;
   text-align: center;
}

.content--project h1{
   font-size: 32px;
   font-weight: normal;
   margin-top: 1em;
}

.content--project h1
{
   color: #a0ceff;
}


.date-created{
   font-size: 18px;
   margin: 0.5em 20%;
}

.content--project p,
.content--project ul {
   font-size: 24px;
   line-height: 1.5;
}

.content--project ul { 
   list-style-type: none;
   padding-left: 0;
}

.content--project li{
   margin: .5em 0;
}

.content--project a{
   color: #dcedff;
   transition:.3s;
   text-transform: uppercase;
   text-decoration: none;
}

.content--project a:hover{
   color: #56876d;
   text-decoration:none;
}

.italic {
   font-style: italic;
}

.vid-container{
   position: relative;
   overflow:hidden;
   width: 100%;
   padding-top: 56.25%;
   margin: .5em 15%;
}

.embedded-video{
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   width: 100%;
   height: 100%;
}

#sketch-futility{
   width: 100%;
   height: 540px;
   margin: .5em 15%;
   border: none;
}

/*  Content: CV */

.content--cv{
   color: #dcedff;
   font-size:  24px;
   padding: 1em 2em;
}

.cv--card {
   width: 100%;
   border-radius: 16px;
   box-shadow: 12px 12px 12px #222222, -12px -12px 12px #303030;
   background: linear-gradient(125deg, #2E2E2E, #242424);
   padding: 2em;
   margin-bottom: 2em;
   display: flex;
   flex-flow: row wrap;
   justify-content: flex-start;
}

.cv--card h1 {
   font-size: 48px;
   font-weight: 300;
   margin-top: 0;
   margin-bottom: 0.5em;
   width: 100%;
}

.cv--section-frame {
   box-shadow: 8px 8px 12px #272727, -8px -8px 12px #2B2B2B;
   background: linear-gradient(125deg, #2E2E2E, #242424);
   border-radius: 8px;
   padding: 16px;
   width: 100%;
   margin: 24px 0;
}

.cv--section {
   box-shadow: inset 8px 8px 12px #272727, inset -8px -8px 12px #2B2B2B;   border-radius: 8px;
   padding: 32px;
   width: 100%;
   height: auto;
   display: flex;
   flex-flow: row wrap;
   background: linear-gradient(125deg, #2E2E2E, #242424);

}  

.cv--section h2,
.cv--section h3,
.cv--section h4,
.cv--section p {
   width: 100%;
   margin: 0em;
   font-weight: 300;
   margin-bottom: 1em;
}

.cv--section h2 {
   font-size: 28px;
}

.cv--section h3 {
   font-size: 24px;
}

.cv--section h4 {
   font-size: 20px;
}

.cv--section p {
   font-size: 24px;
   line-height: 1.5em;
}

.cv--rc-grid,
.cv--ts-grid {
   width: 100%;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-evenly;
   align-items: center;
   box-shadow: inset 8px 8px 8px #2b2b2b, -8px -8px 8px #272727;
   background: linear-gradient(125deg, #2E2E2E, #242424);

}

.cv--ts-grid {
   align-items: flex-start;
   justify-content: space-evenly;
}

.cv--rc-grid p,
.cv--ts-column {
   width: auto;
   text-align: center;
   padding: 0.5em 0.75em;
   margin: 0.5em 0.25em;
   border-radius: 8px;
   box-shadow: 8px 8px 8px #272727, -8px -8px 8px #2b2b2b;
   background: linear-gradient(125deg, #2E2E2E, #242424);

}
.cv--ts-grid h4 {
   font-size: 24px;
}

.cv--ts-grid p {
   font-size: 20px;
   line-height: 1em;

}

.cv--ts-column {
   text-align: left;
}

/* Content: About */

.content--about {
   color: #dcedff;
   font-size:  24px;
   padding: 1em 2em;
   display:flex;
   flex-flow: row wrap;
   justify-content: center;
}

.about--card {
   width: 100%;
   border-radius: 16px;
   box-shadow: 12px 12px 12px #222222, -12px -12px 12px #303030;
   background: linear-gradient(125deg, #2E2E2E, #242424);
   padding: 2em;
   margin: 2em;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}

.about--card p {
   line-height: 2em;
}

#headshot{
   margin: 2em 0;
   border-radius: 50%;
   width: 50%;
}

@media screen and (max-width: 1200px) {
   .grid-item,
   .grid-item--project{
      width: 100%;
   }
}

@media screen and (max-width: 1000px) {

   /* Navigation */
   .navSidebar{
      display: none;
   }

   .navTopBar{
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      justify-content: space-between;
      align-items: flex-start;
      position: fixed;
      top: 0;
      z-index: 1;
      box-shadow: 9.91px 9.91px 15px #222222, -9.91px -9.91px 15px #303030;
      background: linear-gradient(125deg, #2E2E2E, #242424);
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
   }
  
   .cvNavMenu{
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: center;
      padding: 0;
      margin: 0;
   }

   .cvNavButton{
      width: auto;
      text-align: center;
      font-size: 24px;
      padding: 0;
   }
   
   #hamLabel,
   .homeLink,
   .navButton{
      color: #dcedff;
   }
   
   .homeLink, 
   #hamLabel{
      width: auto;
      padding: 0.5em 1em;
      font-size: 32px;
   }

   #hamburger{
      display: none;
   }

   #hamLabel{
      margin: 0.5em;
   }

   #hamburger:checked ~ #mobileNavMenu { display: flex; }

   #hamLabel:hover{
      color: #56876d;
      cursor: pointer;
   }
   
   .connectMenu{
      display: none;
   }

   #mobileNavMenu{
      display:none;
      flex-flow: column wrap;
      align-items: flex-start;
      width: 100%;
   }

   .mobileConnectMenu{
      display: flex;
      flex-flow: column wrap;
      align-items: flex-start;
   }

   #mobileNavMenu .mobileButton,
   #mobileNavMenu .mobileConnectButton,
   #mobileNavMenu #email {
      font-size: 32px;
      margin: 0.5em 1em;
   }

   /* Content */
   .content{
      margin-left: 0;
      padding-top: 110px;
      width: 100%;
   } 

   /* Content: CV */
   .content--cv {
      padding: 200px 1em 1em;
   }

   .cv--card {
      padding: 2em 1.5em 1em;
   }

   .cv--rc-grid,
   .cv--ts-grid {
      background: none;
      box-shadow: none;
   }   

   .content--project .project-title{
      font-size: 36px;
   }

   .project-title,
   .date-created,
   .content--project h1,
   .content--project p,
   .content--project ul,
   .masonry-grid--project,
   .project-image,
   #sketch-futility
   {
      margin: .5em 10%;
   }

   /* Content: About */

   .content--about {
     padding: 1.5em;
   }

   .about--card {
      padding: 1em 1.5em;
      margin: 0;
   }
}

@media screen and (max-width: 800px){

   /* Navigation */
   .navTopBar {
      position: relative;
   }

   .cvNavMenu {
      display: none;
   }

   /* Content */
   .content {
      padding-top: 8px;
   }

   /* Content: Gallery */
   .grid-item {
      margin: 8px 16px;
   }

   /* Content: CV */
   .cv--card {
      padding: 1em 1em 0.5em;
   }

   /* Content: About */
   .content--about {
      padding: 1em;
    }

}
