
body{
   margin-left: auto;
   margin-right: auto;
   min-width: 400px;
   max-width: 600px;
}

.site-title {
   font-family: "Roboto", sans-serif;
   font-weight: bold;
   text-align: center;
}

.slogan {
   font-family: "Roboto", sans-serif;
   font-weight: medium;
   text-align: center;
}

nav{
   overflow: auto;   
   position: relative;
}

nav
ul{
   list-style-type:none;
   margin:0;
   padding:0;
}

nav li{
   font-family: "Robot", sans-serif;
   font-style: "light";
   text-align: center;
   font-size: 16px;   
}

nav li a{
   position:relative;
   float: left;
   display: block;
   background-color: #dddddd;
   text-decoration: none;
   padding: 10px 0;
   color: black;
   width: 25%;
   min-width: 150px;
}

nav li a:hover {
   background-color: black;
   color: white;
}

nav li a.active {
   background-color:#dddddd;
   color: white;
}

.story{
   position: relative;
   text-align: center;
 }

 .center{
   margin-left:auto;
   margin-right:auto;
   display: block;
}
