/* NAV */
body {
   color: #222;
   display: flex;
   flex-flow: column wrap;
   width: 100%;
   margin: 0;
 }
 
 
 
 .topNav{
   flex: 1 auto;
   display: flex;
   flex-flow: row wrap;
   align-items: center; 
   justify-content: flex-end;
   height: 8%;
 }
 .navMenu{
   display: flex;
   flex-flow: row wrap;
   align-items: center;
   justify-content: flex-end;
 }
 
 .menuItem{
   list-style-type: none;
   font: 20px Arial, sans-serif;
   text-decoration: underline;
   margin: 0 16px;
 }
 
 #logo {
   list-style-type: none;
   font: 36px Times, serif;
   text-decoration: none;
   margin: 12px 48px;
   flex-grow: 1;
 }
 
 #postListingButton{
   font: 20px Arial, sans-serif;
   text-decoration: underline;
   background-color: #0000EE;
   color: #EEEEEE;
   padding: 8px 32px;
   border: none;
   border-radius: 80px;
 }
 
 /* MAIN */
 
 .main {
   display: flex;
   flex-flow: column wrap;
   align-items: center;
   justify-content: center;
   margin-top: 10%;
   height: 100%;
 }
 
 .location {
   display:flex;
   flex-flow: row nowrap;
   align-content: center;
   align-items: center;
   font: 16px Arial, sans-serif;
   margin: 4px 0;
   height: 36px;
 }
 
 .locationInput{
   padding-left: 36px;
   padding-right: 20px;
   padding-top: 8px;
   padding-bottom: 8px;
   border-style: solid;
   border-width: 1px;
   border-color: #CCC;
   border-top-left-radius: 80px;
   border-bottom-left-radius: 80px;  
 }
 
 .locationButton{
   display:flex;
   flex-flow: row nowrap;
   border-style: solid;
   border-width: 1px;
   border-color: #CCC;
   border-top-right-radius: 80px;
   border-bottom-right-radius: 80px;
   background: #EEE;
   color: #222;
   text-align: left;
   padding-top: 8px;
   padding-bottom: 8px;
   padding-left: 20px;
   padding-right: 16px;
   font: 16px Arial, sans-serif;
   text-decoration: underline;
   align-items: center;
 }
 
 .arrow-up {
   border-left: 8px solid transparent;
   border-right: 8px solid transparent;
   border-bottom: 12px solid black;
   margin-left: 14px;
 }
 
 .search {
   display: flex;
   flex-flow: row nowrap;
   color: #222;
   height: 56px;
   align-items: center;
   font: 36px Arial, sans-serif;
 }
 
 .searchInput {
   border: none;
   padding-left: 67px;
   padding-top: 6px;
   padding-bottom: 6px;
   padding-right: 560px;
   border-style: solid;
   border-width: 1px;
   border-color: #CCC;
   border-top-left-radius: 80px;
   border-bottom-left-radius: 80px;
   
 }
 
 .searchButton {
   border-style: solid;
   border-width: 1px;
   border-color: #CCC;
   border-top-right-radius: 80px;
   border-bottom-right-radius: 80px;
   padding-left: 48px;
   padding-right: 56px;
   padding-top: 4px;
   padding-bottom: 8px;
   font: 36px Arial, sans-serif;
   text-decoration: underline;
   background: #00E;
   color: #EEE;
 }
 
 .filterMenu {
   display: flex;
   flex: row wrap;
   list-style-type: none;
 }
 
 .filterButton{
   font: 20px Arial, sans-serif;
   background: #EEE;
   border-style: solid;
   border-width: 1px;
   border-color: #00E;
   border-radius: 80px;
   width: 120px;
   height: 36px;
   margin: 4px 4px;
   text-decoration: underline;
   color: #222;
 }
 
 /* FOOTER */
 
 footer {
   position: absolute;
   bottom: 0;
   height: 8%;
   width: 100%;
   display:flex;
   justify-content: center;
   margin-top: 100px;
   
 }


 