<section class="content content--about">
      <div class='headshot-frame'>
            <img class="project-image" id="headshot" src='{{imageURL}}' alt='{{imageTitle}}'>
      </div>
      <div class='about--card'>
            {{{blurb}}}
      </div>
</section>