<nav class="navSidebar">
   <a href="/index.html" class="homeLink">William Mlekush</a>

   <div class="connectMenu">
         <a class='connectButton' id ='linkedIn' href="https://www.linkedin.com/in/william-mlekush/" target="_blank">LinkedIn</a></li>
         <a class="connectButton" id="gitHub" href="https://github.com/williammlekush" target="_blank">GitHub</a></li>
         <div class="connectButton" id="email">w.mlekush@gmail.com</div>
   </div>         
   
   <div class="navMenu">              
         <a class="navButton" a href="/about.html">About</a></li>
         <a class="navButton" a href="/cv.html">CV</a></li>
   </div>
</nav>

<nav class="navTopBar">
   <a href="/index.html" class="homeLink">William Mlekush</a>
   <label id='hamLabel' for='hamburger'>&#9776;</label>
   <input type='checkbox' id='hamburger'/>

   <div id=mobileNavMenu>  
         <a class="mobileButton" href="/about.html">About</a>
         <a class="mobileButton" href="/cv.html">CV</a>   

         <div class="mobileConnectMenu">
            <a class="mobileConnectButton" href="https://www.linkedin.com/in/william-mlekush/" target="_blank">LinkedIn</a>
            <a class="mobileConnectButton" href="https://github.com/williammlekush" target="_blank">GitHub</a></li>
            <div id="email">w.mlekush@gmail.com</div>
         </div> 
   </div>    
</nav>