<section class="content content--project">   
   <div class='project--card'>       
      <div class='project--title'>
         {{ title }}
      </div>
  
      <img class='project--image' src={{imageURL}} alt={{imageTitle}}>
      
      <div class="project--date-created">
         {{ date }}
      </div>
      {{{ description }}}
   </div>
</section>