<section class="content content--project">   
   <div class='project--card'>       
      <div class='project--title'>
         {{ title }}
      </div>
      <div class='project--image-container'>
         <img class='project--image' src={{imageURL}} alt={{imageTitle}}>
      </div>
      <div class="project--date-created">
         {{ date }}
      </div>
      {{{ description }}}
   </div>
</section>